.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	background-color: #b3b3b3;
}

.navbar ul {
	text-align: center;
}

.navbar-ex1-collapse{
  	background-color: #b3b3b3;
}

.navbar .navbar-collapse {
  	text-align: center;
}

.active {
	background-color: white;
}

#fumu{
	margin-top : 8vh !important;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

.form-control{
    background: transparent;
}
form {
	width: 320px;
	margin: 20px;
}
form > div {
	position: relative;
	overflow: hidden;
}
form input, form textarea {
	width: 100%;
	border: 2px solid gray;
	background: none;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 8px 12px;
	outline: 0;
}
form input:valid, form textarea:valid {
	background: white;
}
form input:focus, form textarea:focus {
	border-color: #FFA500;
}
form input:focus + label, form textarea:focus + label {
	background: #FFA500;
	color: white;
	font-size: 70%;
	padding: 1px 6px;
	z-index: 2;
	text-transform: uppercase;
}
form label {
	-webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	position: absolute;
	color: #999;
	padding: 7px 6px;
	font-weight: normal;
}
form textarea {
	display: block;
	resize: vertical;
}
form.go-bottom input, form.go-bottom textarea {
	padding: 12px 12px 12px 12px;
}
form.go-bottom label {
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
	padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
	top: 100%;
	margin-top: -16px;
}
form.go-right label {
	border-radius: 0 5px 5px 0;
	height: 100%;
	top: 0;
	right: 100%;
	width: 100%;
	margin-right: -100%;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
	right: 0;
	margin-right: 0;
	width: 40%;
	padding-top: 5px;
}

.date {
	color: transparent;
}

h2, h3 {
	text-align: center;
}


.btn-default {
	margin-top: 15vh;
	margin-left: 8vw;
}

.center-block{
	padding-top: 5px;
}

#valider{
	 text-align: center;
	 
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}



#custom-search-form {
    margin:0;
    margin-top: 12px;
    margin-left: 1000px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}







.background{
	background-image: url("bg.jpg");
}

*{
    padding: 0;
    margin: 0;
}

ul {
    margin:0 auto;
    padding: 0;
    text-align: center;
    width: auto;
}

li {
    display: inline;
    list-style: none;
}

a {
    display:inline-block;
    margin-right: -5px;
    width:120px;
    font-weight:bold;
    text-align:center;
    padding:4px;
    text-decoration:none;
    color: black;
    background-color: white;
}

a active{
    background-color: orange;
}

a:hover {
    background-color: orange;
    color: white;
    text-decoration:none;
}

.flex-container {
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
}

.flex-container>div {
    width: 50%;
    height: 2em;

}

.flex-container>div:first-child {
    width: 20%;
    height: 2em;
}

.flex-container>div:last-child {
    width: 20%;
    height: 2em;
}

input[type=search]{
	float: right;
    color: black;
    height: 2em !important;
    margin: 0px !important;
    background-color: white;
    border: none;
}


